* {
    margin: 0;
    padding: 0;
}

.container {
    height: 400px;
}

.mid {
    margin: 100px auto;
    width: 400px;
    height: 200px;
    background-color: #ccc;
    position: relative;
    overflow: hidden;
}

.left {
    width: 100px;
    height: 100px;
    position: absolute;
    left: -50px;
    top: -50px;
    border-radius: 50%;
    background-color: #fc0;
}

.right {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 350px;
    top: 150px;
    border-radius: 50%;
    background-color: #fc0;
}